/* GALPANEL independent LED indicator test keymap. */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        led_ind_test_layer {
            display-name = "LED IND TEST";
            bindings = <
                &kp KP_NUMLOCK &kp CAPSLOCK &kp SCROLLLOCK
                &none &none &none
                &none &none &none
            >;
        };
    };
};
