/*
 * GALPANEL V2.1 default keymap
 *
 * Copyright (c) 2026 GALPANEL contributors
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <behaviors/mouse_move.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        /* SYS is handled by the status module so tap, double-tap and the
         * guarded six-second bond-clear action cannot be duplicated by a
         * normal key binding. */
        td_sys: tap_dance_sys {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&none>, <&none>;
        };

        scroll_encoder: scroll_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            /* Hardware reports clockwise as the negative direction.
             * First binding is CCW, second binding is CW. */
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;
            /* &msc is hold-style; 20 ms guarantees one wheel report per
             * encoder detent instead of releasing before the first tick. */
            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "GALGAME";

            /* D2 FAST, D3 middle, D4 NEXT, D5 upper-right,
             * D7 lower-right, D8 SYS, D14 lower-left,
             * D18 upper-left, D19 EC11 press. */
            bindings = <
                &kp LCTRL
                &kp ESC
                &kp ENTER
                &mmv MOVE_DOWN
                &mmv MOVE_RIGHT
                &td_sys
                &mmv MOVE_UP
                &mmv MOVE_LEFT
                &kp LG(D)
            >;

            sensor-bindings = <&scroll_encoder>;
        };
    };
};
