/*
 * Static-name Windows BLE pairing baseline.
 * D8 uses the stock ZMK next-Profile behavior. The other keys only make a
 * successful BLE HID connection observable; they are not product mappings.
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        win_ble_baseline_layer {
            display-name = "WIN BLE";
            bindings = <
                &kp A &kp B &kp C
                &kp D &kp E &bt BT_NXT
                &kp F &kp G &kp ENTER
            >;
        };
    };
};
