/* GALPANEL nine-key + EC11 test: keys emit digits; rotation emits Up/Down. */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        encoder_test: encoder_test {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&inc_dec_kp UP DOWN>;
            tap-ms = <5>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        ec11_test_layer {
            display-name = "EC11 TEST";

            /* D2 FAST, D3 AUTO, D4 NEXT, D5 QSAVE, D7 DESKTOP,
             * D8 SYS, D14 FN, D18 QLOAD, D19 EC11_SW. */
            bindings = <
                &kp N1 &kp N2 &kp N3
                &kp N4 &kp N5 &kp N6
                &kp N7 &kp N8 &kp N9
            >;

            sensor-bindings = <&encoder_test>;
        };
    };
};
