# Copyright (c) 2026 GALPANEL contributors
# SPDX-License-Identifier: MIT

if SHIELD_GALPANEL

config ZMK_KEYBOARD_NAME
  default "GALPANEL"

endif # SHIELD_GALPANEL

if SHIELD_GALPANEL_LED_TEST

config ZMK_KEYBOARD_NAME
  default "GP LED TEST"

endif # SHIELD_GALPANEL_LED_TEST

if SHIELD_GALPANEL_LED_IND_TEST

config ZMK_KEYBOARD_NAME
  default "GP LED IND"

endif # SHIELD_GALPANEL_LED_IND_TEST

if SHIELD_GALPANEL_IO_TEST

config ZMK_KEYBOARD_NAME
  default "GP IO TEST"

endif # SHIELD_GALPANEL_IO_TEST

if SHIELD_GALPANEL_EC11_TEST

config ZMK_KEYBOARD_NAME
  default "GP EC11 TEST"

endif # SHIELD_GALPANEL_EC11_TEST
