# Copyright (c) 2026 GALPANEL contributors
# SPDX-License-Identifier: MIT

if SHIELD_GALPANEL

config ZMK_KEYBOARD_NAME
  default "GALPANEL"

endif # SHIELD_GALPANEL

if SHIELD_GALPANEL_LED_TEST

config ZMK_KEYBOARD_NAME
  default "GALPANEL LED TEST"

endif # SHIELD_GALPANEL_LED_TEST
